NEXT_PUBLIC_FERMENTATION_API_URL=http://localhost:8000
NEXT_PUBLIC_WINERY_API_URL=http://localhost:8001
NEXT_PUBLIC_FRUIT_ORIGIN_API_URL=http://localhost:8002
NEXT_PUBLIC_ANALYSIS_API_URL=http://localhost:8003
